<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?{{  range(1, 51000) | random }}" />
    <title>{% block title %}{% endblock %} - {{ project_name }}</title>
    {% endblock %}
</head>
<body>
    <nav>
        <ul id="secondary">
            {% include 'parts/loginout.html' %}
        </ul>
        <ul id="primary">
            <li><a href="{{ url_for('index') }}"><strong>{{ project_name }}</strong></a></li>
            {%  if session.username %}<li><a href="{{ url_for('manage') }}">Manage</a></li>{%  endif %}
        </ul>
    </nav>
    {%  include 'parts/flashes.html' %}
    <main>{% block content %}{% endblock %}</main>
    <footer>
        {% block footer %}
        &copy; Copyright 2018 by <a href="https://streamcables.com/">{{ project_name }}</a>.
        {% endblock %}
    </footer>
</body>
</html>