{% extends "layout.html" %}

{% block title %}Admin Home{% endblock %}

{% block content %}
    <h1>Hello {{ session.username }}!</h1>

    <p>Select a cable to connect:</p>

    <table>
        <thead>
        <tr>
            <th>Cable</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for cable in cables %}
            <tr>
                <td>{{ cable }}</td>
                <td>
                    <button>Run</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}