{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>{{ project_name }}</h1>

    <p>{{ project_name }} is a managed stream connection manager.</p>

    <h2>Benefits</h2>
    <ul>
        <li>All destination streams managed through a simple webpage.</li>
        <li>Connect directly from DJ software, elimitating all local setup.</li>
        <li>Optimised for great audio quality.</li>
    </ul>
    
    <p>Get started, just <a href="{{ url_for('login') }}">login</a>!</p>
{% endblock %}