<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?{{  range(1, 51000) | random }}" />
    <title>{% block title %}{% endblock %} - {{ brand }}!!</title>
    {% endblock %}
</head>
<body>
    <nav>
        <ul id="secondary">
            {% include 'parts/loginout.html' %}
        </ul>
        <ul id="primary">
            <li><a href="{{ url_for('index') }}">Home</a></li>
        </ul>
    </nav>
    <main>{% block content %}{% endblock %}</main>
    <footer>
        {% block footer %}
        &copy; Copyright 2018 by <a href="https://streamcables.com/">StreamCables.com</a>.
        {% endblock %}
    </footer>
</body>
</html>